body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.top-bar {
  background-color: #26bed2;
  color: white;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}  


.contact-info span {
  margin-left: 12px;
}








/* Navbar */
.Navbar {
  background-color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo-ibn {
  color: #660b0b;
}

.logo-green {
  color: #290a6b;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 24px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  border: none;
}

/* Remove any before/after content */
.nav-links li::before,
.nav-links li::after {
  content: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links a:visited,
.nav-links a:hover,
.nav-links a:active {
  color: black;
  background-color: white;
}


